---
layout: default
title: blog
permalink: /blog/
---

<div class="blog-post">

  <section id="main" class="page-main" role="main">
    <div class="c-section">
      <h3 class="c-section__title page-heading">{{ page.title }}Posts</h3>

    {% for post in paginator.posts %}
      <article class="article-post p-article p-article--post" itemscope itemprop="http://schema.org/BlogPosting">

      {% if post.image %}
        <figure class="p-article__thumbs"><a class="post-thmbnail" href="{{ post.url }}" title=""><img src="/images/{{ post.image }}" alt="{{ post.title }}" /></a></figure>
      {% endif %}

        <h2 class="p-article__title" itemprop="headline"><a class="p-article__link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>

        <p class="p-article__meta c-meta">
          <span class="meta__item meta__item--date"><i class="p-article--icon fa fa-clock-o" aria-label="投稿した日時"></i><time content="{{ post.date | date: "%Y-%m-%d" }}" datetime="{{ post.date | date: "%Y-%m-%d" }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time></span>
        </p>

        <section class="p-article__content">
          {{ post.excerpt }}
        </section>

        <div class="p-article__links">
          <a class="more-link" href="{{ post.url | prepend: site.baseurl }}">more link...</a>
        </div>

      </article>
    {% endfor %}

      {% include pagination.html %}
    </div>
  </section>

  <p class="rss-subscribe">subscribe <a href="{{ " /feed.xml " | prepend: site.baseurl }}">via RSS</a></p>
</div>

