/**
 * Reset some basic elements
 */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main, summary, time, mark, audio, video {
  font-size: 100%;
  font-weight: normal;
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
  border: 0;
  outline: 0;
}


/**
 * Basic styling
 */

html, body {
  background-color: scale-color($primary-color, $lightness: 0);
}

body {
  font-family: $base-font-family;
  font-weight: 300;
  word-wrap: break-word;
  color: $base-font-color;
  @include font-size(16, 1.5);
  text-rendering: optimizeLegibility;
  @include font-smooting(off);
  // @include font-smooting(on);
  -webkit-text-size-adjust: 100%;
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */

h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, %vertical-rhythm {
  margin-bottom: $base-spacing-unit;
}

strong, em {
  font-weight: bold;
}


/**
 * Images
 */

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}


/**
 * Figures
 */

figure > img {
  display: block;
}

figcaption {
  @include font-size(14, false);
}


/**
 * Lists
 */

ul, ol {
  line-height: 1.7;
  margin: 1em 0 1em 1.4em;
}

li {
  > ul, > ol {
    margin-top: 0;
    margin-bottom: 0;
  }
}

ol li {
  list-style: decimal outside none;
}

ul li {
  list-style: circle outside none;
}


/**
 * Headings
 */

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}


/**
 * Links
 */

a {
  text-decoration: none;
  color: scale-color($link-color, $lightness: -20%);
  @include transition(all, 300ms, linear);
  &:hover, &:focus, &:active {
    text-decoration: underline;
    color: scale-color($link-color, $lightness: 0);
  }
  &:focus {
    outline: 5px auto $link-color;
  }
}


/**
 * Blockquotes
 */

blockquote {
  font-size: 18px;
  font-style: italic;
  padding-left: $spacing-unit / 2;
  letter-spacing: -1px;
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  >:last-child {
    margin-bottom: 0;
  }
}


/**
 * Code formatting
 */

pre, code {
  font-family: monospace, monospace;
  font-size: 1rem;
  white-space: pre;
  // color: scale-color($primary-color, $lightness: 70%);
  @include border-radius(3px);
}

code {
  padding: 0 $base-spacing-unit--tiny;
  word-wrap: normal;
}

p, li {
  > code {
    margin: 0 $base-spacing-unit--tiny;
    // color: scale-color($base-font-color, $lightness: 0);
    background-color: scale-color($primary-color, $lightness: 70%);
  }
}

pre {
  overflow-x: scroll;
  padding: .75rem 1rem;
  background-color: scale-color($base-font-color, $lightness: 10%);
  > code {
    padding-right: 0;
    padding-left: 0;
    border: 0;
    background-color: transparent;
  }
}


/**
 * Wrapper
 */

// .wrapper {
//     max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
//     max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
//     margin-right: auto;
//     margin-left: auto;
//     padding-right: $spacing-unit;
//     padding-left: $spacing-unit;
//     @extend %clearfix;
//     @include media-query($on-laptop) {
//         max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
//         max-width: calc(#{$content-width} - (#{$spacing-unit}));
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

/**
 * Clearfix
 */

%clearfix {
  &:after {
    display: table;
    clear: both;
    content: '';
  }
}


/**
 * Icons
 */

.icon {
  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    path {
      fill: $grey-color;
    }
  }
}
