/**
 * Site header
 */


/**
 * Site footer
 */
.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;

    .list__item {
      display: block !important;
    }
}

.footer-col-wrapper {
    font-size: 15px;
    color: scale-color($primary-color, $lightness: -20%);
    @extend %clearfix;

    ul {
      margin-bottom: 1rem;
    }
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

/**
 * Page content
 */


.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

// .post-meta {
//     @include font-size(14, false);
//     color: $grey-color;
// }


/**
 * Posts
 */

