// ---
// # Only the main Sass file needs front matter (the dashes are enough)
// ---
@charset "utf-8";



// Our variables
// $base-font-family: $body-font-family;
// $base-font-sizes:   16px;
// $base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);



@import "_settings";
@import "_utils";
@import "_normalize";

/////////////////////////
///  Zurb-foundation  ///
/////////////////////////
@import 'foundation/components/grid';

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base";
@import "layout";
// @import "syntax-highlighting";

@import "_utlilties/u-button";
@import "_utlilties/u-card.scss";
@import "_utlilties/u-divider";
@import "_utlilties/u-heading";
@import "_utlilties/u-align";

@import "_component/c-section";
@import "_component/c-box";

@import "_layout/page";

@import "_module/articles";
@import "_module/media";
@import "_module/social";
@import "_module/navigation";
@import "_module/pagination";
@import "_module/logo";
@import "_module/separator";
@import "_module/highlighter-monokai";
@import "_module/accessibility";


