---
layout: default
title: tags
permalink: /tags/
---

{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}

{% assign tag_words = site_tags | split:',' | sort %}

<div id="tags" class="posts-tags">

  <section id="main" class="page-main" role="main">

    <div class="page-heading-wrap">
      <h1 class="page-heading page-heading--title c-section__title">{{ page.title }}</h1>
    </div>

    <div id="tag-cloud" class="tag-cloud tag-cloud--centered c-box">
      <ul class="tag-cloud__list c-box__list">
      {% for item in (1..site.tags.size) %}{% unless forloop.last %}
        {% capture this_word %}{{ tag_words[item] | strip_newlins }}{% endcapture %}
        <li class="list__item"><a id="{{ this_word }}-tags" data-scroll href="#{{ this_word }}">{{ this_word }}<span class="tag-cloud--count">x{{ site.tags.[this_word].size }}</span></a></li>
        {% endunless %}{% endfor %}
      </ul>
    </div>

    <div class=" ">
      {% for item in (1..site.tags.size) %}{% unless forloop.last %}
      {% capture this_word %}{{ tag_words[item] | strip_newlins }}{% endcapture %}
      <div class="c-box c-box__list">

        <h2 id="{{ this_word }}" class="list__item"><span class="list__item c-box--tag"><i class="fa fa-tag" aria-label="tag"></i>{{ this_word }}</h2>
        <a href="#{{ this_word }}-tags" data-scroll class="list__item" title="Back to tag cloud"><i class="icon-rotate fa fa-repeat"></i></a>
        {% for post in site.tags[this_word] %}{% if post.title != nil %}
            <article class="p-article p-article--posts">
              <h2 class="p-article__title" itemprop="name"><a class="p-article__link" href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a></h2>
              <span class="list__item c-box--date"><time class="p-article--date" content="{{ post.date | date: "%Y-%m-%d" }}" datetime="{{ post.date | date: "%Y-%m-%d" }}" itemprop="datePublished">{{ post.date | date: "%B %-d, %Y" }}</time></span>
            </article>
        {% endif %}{% endfor %}

      </div>
      {% endunless %}{% endfor %}

    </div>

  </section>

</div>
