.c-box {
  &__list {
    margin: 0;
    padding: 0;
    font-size: 0;
  }
  .list__item {
    display: inline-block;
    list-style: none;
    vertical-align: middle;
    @include font-size(16, 1.5);

    @media #{$topbar-media-query} {

    }
  }
  & &--fill {
    display: table;
    table-layout: fixed;
    width: 100%;

    >.list__item {
      display: table-cell;
    }
  }
  & &--date {
    display: block;
  }
}
