.c-meta {
  &__list {

  }
  .meta__item {
    display: inline-block;
    margin-right: 10px;
    @include font-size(16, 1.3);

    &:nth-last-of-type(1) {
      margin-right: 0;
    }
  }
  .meta__item--date {
    display: block;
  }
  .meta__item--cat {

  }
  .meta__item--tag {

  }
}
