// Paging-navigation
.c-pagination {
  margin: 0;
  padding: 3.125em 0;
  &__list {
    overflow: hidden;
    list-style: none;

  }
  .list__item {
    display: inline-block;
  }
  .list__link {
    // display: inline-block;
    padding: .625rem 1.025rem;
    @include font-size(14, 1.5);
    @extend %u-btn;
    @extend %u-btn--ghost;
    &:hover,
    &:focus,
    &.is-current {
      // font-weight: bold;
      color: $primary-color;
      background-color: scale-color($base-font-color, $lightness: 20%);
    }
    &.is-current {
      cursor: pointer;
    }
  }
  &--centered {
    text-align: center;
  }
}

.screen-reader-text {
  position: absolute;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}

// Post navigation
.post-navi {
  @extend %link-anchor;
  @include _clearfix();
  &__item {
    float: none;
    text-align: center;
    display: block;
    margin-bottom: 3px;
  }
  &__link {
    padding: .625rem;
    @extend %u-btn;
    @extend %u-btn--ghost;
    @include font-size(14, false);
  }
  .link--img {
    text-align: center;
  }
  @media #{$topbar-media-query} {
    &--previous {
      float: left;
      text-align: left;
      width: 50%;
    }
    &--next {
      float: right;
      text-align: right;
      width: 50%;
    }
  }
}
