// Post navigation
.post-navi {
  padding-top : $base-spacing-unit--huge;
  @include _clearfix();

  & .navi__link {
    display: block;
    padding: $base-spacing-unit;
    @include font-size(16);
    @extend %u-align--center;
  }
  @include media($tablet) {
    // color: tomato;

    &.navi__link {
      width: 50%;
    }

    & &--prev {
      float: left;
      @extend %u-align--left;
    }
    & &--next {
      float: right;
      @extend %u-align--right;
    }

  }
}
