.c-section {
  & {
    padding: $base-spacing-unit--large $base-spacing-unit;
  }
  &__inner {
    @include row();
    @include outer-container($content-width);

  }
  &__title {
    position: relative;
    margin: 0;
    padding: 1rem 0;
    > a {
      color: $base-text-color;
      &:hover {
        color: $sub-text-color;
      }
    }
  }
  &__description {
    font-weight: 400;
    padding-top: 3rem;
    text-align: center;
    color: $sub-text-color;
    border-top: 1px dashed scale-color($primary-color, $lightness: 70%);
    @include font-size(18);
  }
  &__contents {
    padding: 3.125rem .9375rem 0;
  }
  &__links {
    padding-top: 3.125rem;
    text-align: center;
  }
  // .link__item {
  //   padding: .65rem 1.5rem;
  //   @extend %u-btn;
  //   @extend %u-btn--ghost;
  //   @include font-size(14, 1.5);
  // }
}
