.c-section {
  & {
    padding: 0 .9375rem;
  }
  &__inner {
    @include grid-row();
  }
  &__title {
    position: relative;
    margin: .5rem 0 0;
    padding: 0 0 1rem;
    letter-spacing: .05rem;
    > a {
      color: $base-font-color;
      &:hover {
        color: scale-color($base-font-color, $lightness: 20%);
      }
    }
  }
  &__description {
    font-weight: 400;
    padding-top: 3rem;
    text-align: center;
    color: scale-color($base-font-color, $lightness: 30%);
    border-top: 1px dashed scale-color($primary-color, $lightness: 70%);
    @include font-size(18);
  }
  &__contents {
    padding: 3.125rem .9375rem 0;
  }
  &__links {
    padding-top: 3.125rem;
    text-align: center;
  }
  .link__item {
    padding: .65rem 1.5rem;
    @extend %u-btn;
    @extend %u-btn--ghost;
    @include font-size(14, 1.5);
  }
}
