.u-align, %u-align {
  text-align: none;
}

.u-align--center, %u-align--center {
  text-align: center;
}

.u-align--left, %u-align--left {
  text-align: left;
}

.u-align--right, %u-align--right {
  text-align: right;
  margin-right: $base-spacing-unit--tiny;
}
