$u-divider--top: 1px dashed scale-color($primary-color, $lightness: 30%);
$u-divider--top-rev: 1px dashed scale-color($primary-color, $lightness: -30%);
$u-divider--right: 1px dashed scale-color($primary-color, $lightness: -30%);
$u-divider--right-rev: 1px dashed scale-color($primary-color, $lightness: 30%);
$u-divider--bottom: 1px dashed scale-color($primary-color, $lightness: -30%);
$u-divider--bottom-rev: 1px dashed scale-color($primary-color, $lightness: 30%);
$u-divider--left: 1px dashed scale-color($primary-color, $lightness: 30%);
$u-divider--left-rev: 1px dashed scale-color($primary-color, $lightness: -30%);

// Top
%u-divider--top,
.u-divider--top {
  border-top: $u-divider--top;
}
%u-divider--top-rev,
.u-divider--top-rev {
  border-top: $u-divider--top-rev;
}

// Right
%u-divider--right,
.u-divider--right {
  border-top: $u-divider--right;
}
%u-divider--right-rev,
.u-divider--right-rev {
  border-top: $u-divider--right-rev;
}

// Bottom
%u-divider--bottom,
.u-divider--bottom {
  border-bottom: $u-divider--bottom;
}
%u-divider--bottom-rev,
.u-divider--bottom-rev {
  border-bottom: $u-divider--bottom-rev;
}

// Left
%u-divider--left,
.u-divider--left {
  border-bottom: $u-divider--left;
}
%u-divider--left-rev,
.u-divider--left-rev {
  border-bottom: $u-divider--left-rev;
}

// Border none
%u-divider--none,
.u-divider--none {
  border: none;
}
