.site-logo {
  z-index: z(nav, logo);
  width: 12rem;

  @include breakpoint(mobile) {
    width: 16rem;
  }

  &--footer {
    line-height: 1;
  }
}

.site-title {
  padding-bottom: $base-spacing-unit--small;
  padding-top: $base-spacing-unit--small;
  line-height: 1;

  > a {
    display: inline-block;
  }
}

// Override components
.site-logo--footer {
  > .c-icon {
    height: 5rem;
    width: 5rem;

    .icon-tile {
      fill: $footer-logo-color;
      // fill: transparent;
      stroke: $base-color-darken70;
      stroke: $base-color-lighten10;
    }
  }
}
