blockquote {
  color: $sub-text-color;
  font-style: italic;
  position: relative;
  max-width: 660px;
  margin: 1.875em auto;
  padding: 3em .5em;
  background: scale-color($primary-color, $lightness: 70%);
  &:before {
    font-size: 500%;
    line-height: 1;
    position: absolute;
    top: 0;
    left: 0;
    content: '“';
    color: $sub-text-color;
  }
  &:after {
    font-size: 500%;
    line-height: 0;
    position: absolute;
    right: 5px;
    bottom: 0;
    content: '”';
    color: $sub-text-color;
  }

  p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  code {
    font-style: normal;
  }
}
