.screen-reader-text {
  position: absolute;
  clip: rect(0 0 0 0);
  visibility: hidden;
  opacity: 0;
  // overflow: hidden;
}
[aria-describedby="footnote-label"] {
  text-decoration: underline;
  cursor: default;
  outline: none;
  font-size: 0.7rem;
  vertical-align: middle;
  margin-right: 3px;
  padding: .1rem .3rem;
}
.footnote {

}

.footnotes {
  // border: 3px solid;
  padding-left: 5rem;
  padding-right: 5rem;
   :target {
    background-color: rgba(yellow, .85);
  }
}

.reversefootnote {

}
