.p-article {
  & {
  padding: $base-spacing-unit--large 0;
  border-bottom: $border-line;
  @include clearfix();
  }
  &:nth-of-type(1) {
    padding-top: 0;
  }
  &:nth-last-of-type(1) {
    padding-bottom: 0;
    border-bottom: none;
  }
  @at-root .post & {
    padding-top: $base-spacing-unit--large;
    padding-bottom: 0;
    border-bottom: none;
  }
  &__header {
    padding-bottom: $base-spacing-unit--tiny;
    @include clearfix();
  }
  &--centered {
    @extend %u-align--center;
  }

  &__title {
    font-weight: 500;
    color: $base-text-color;
    @include text-shadow(0 1px 1px rgba(62, 52, 26, .2), 0px 0px 2px rgba(20, 20, 20, .3));
    @include font-size(22, 1.5);
    margin-bottom: $base-spacing-unit--small;
    @include media($tablet) {
      @include font-size(28, 1.5);
    }
    @at-root .p-article--post & {
      margin-bottom: $base-spacing-unit--large;
      @include font-size(26, 1.5);
      @include media($tablet) {
        @include font-size(32, 1.5);
      }
    }
    > a {
      font-weight: inherit;
      color: $base-text-color;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__meta {
    color: $sub-text-color;
  }
  &__thumbs {
    position: relative;
    margin-left: -$base-spacing-unit--large;
    margin-right: -$base-spacing-unit--large;
    margin-bottom: $base-spacing-unit--large;
    /* css spin loading */
    img {
      // width: 100%;
      // height: auto;
      @extend %photo-shadow;
    }
  }
  &__description {
    padding: $base-spacing-unit--small 0;
    border-top: $border-line;
    border-bottom: $border-line;
    @include font-size(16, 1.5);
  }
  &__links {
    .more-link {
      font-weight: 600;
      padding: $base-spacing-unit--small $base-spacing-unit--large;
      @extend %u-btn;
      @extend %u-btn--ghost;
      @include font-size(16, 1.5);
    }
  }

  & &--icon {
    @extend %icon-modifier;
  }
  & &--date {
    display: block;
    @include font-size(18);
    @include web-font($t-kit, normal, 400);
  }
  & &--author {
    display: block;
  }
  & &--tag {
    display: block;
  }
  &__content {
    padding-top: $base-spacing-unit;
    @include clearfix();

    @at-root .p-article--post & {
      padding-top: $base-spacing-unit--huge;
    }

    h1, h2, h3, h4, h5, h6 {
      margin-top: $base-spacing-unit;
      margin-bottom: $base-spacing-unit--small;
      font-weight: 600;
    }

    h1 {
      @include font-size(30, 1.5);
    }
    h2 {
      margin-top: $base-spacing-unit--huge;
      @include font-size(26, 1.5);

      counter-increment: first;
      counter-reset: second;
      &:before {
        content: counter(first) ". ";
        font-size: 120%;
      }

      &+h3 {
        margin-top: $base-spacing-unit;
      }
    }
    h3 {
      margin-top: ($base-spacing-unit--large +1);
      margin-bottom: ($base-spacing-unit +1);
      @extend %u-divider--bottom;
      @include font-size(24, 1.5);
    }
    h4 {
      @include font-size(20, 1.5);
    }
    h5 {
      @include font-size(18, 1.5);
    }
    h6 {
      @include font-size(16, 1.5);
    }
    em {
      font-style: italic;
    }
    p {
      margin-bottom: $base-spacing-unit--large;
      @include font-size(16, 1.5);
    }
    a {
      &:hover {
        text-decoration: underline;
      }
    }
    img {
      margin: 0 auto;
      display: block;
      @extend %photo-shadow;
    }
    hr {
      margin: $base-spacing-unit--large;
      @extend %u-divider--bottom-rev;
      @extend %u-divider--top-rev;
    }
    dd, li {
      margin-bottom: $base-spacing-unit--small;
      margin-left: $base-spacing-unit;
    }
  }
}

.p-article {
  &--tags {
    @at-root &#{&} {
      padding: $base-spacing-unit--tiny;
      border: none;
    }

    .p-article__title {
      @include font-size(20, 1.5);
      font-weight: 400;
      display: inline-block;
      margin-bottom: 0;
      >a {
        color: $link-color;
      }
    }

    .p-article__meta {

      @include media($tablet) {
        float: right;
        display: inline-block;
      }

    }
  }

}
