$primary-color: rgb(185, 182, 166) !default;
$base-font-color: rgb(25, 30, 36) !default;
$link-color: rgb(106, 154, 187) !default;
$accent-color: rgb(244, 186, 103) !default;

//social
$twitter-color: rgb(101, 187, 242) !default;
$github-color: rgb(254, 254, 242) !default;
$instagram-color: rgb(80, 130, 166) !default;
$pinterest-color: rgb(219, 51, 25) !default;

$colours: (
           primary-light0: scale-color($primary-color, $lightness: 0%),
           primary-light10: scale-color($primary-color, $lightness: 10%),
           primary-light20: scale-color($primary-color, $lightness: 20%),
           primary-light70: scale-color($primary-color, $lightness: 70%),

           base-font-light0: scale-color($base-font-color, $lightness: 0%),
           base-font-light10: scale-color($base-font-color, $lightness: 10%),
           base-font-light20: scale-color($base-font-color, $lightness: 20%),

           link-light0: scale-color($link-color, $lightness: 0%),
           link-light10: scale-color($link-color, $lightness: 10%),
           link-light20: scale-color($link-color, $lightness: 20%),
           link-light30: scale-color($link-color, $lightness: 30%),
           link-light40: scale-color($link-color, $lightness: 40%),
           link-light50: scale-color($link-color, $lightness: 50%),



           accent-light0: $accent-color,

           )
