.site-logo {
  &--footer {
    text-align: center;
    padding: $base-spacing-unit 0 $base-spacing-unit--large;
  }
}

.site-title {
  @include font-size(40, 1.7);
  letter-spacing: -1px;
  margin: 0 $base-spacing-unit;
  float: left;
  &, &:visited {
    color: $grey-color-dark;
  }
  img {
    width: 220px;
    vertical-align: baseline;
  }
}
