.site-logo {
  width: 12rem;
  vertical-align: middle;
  z-index: 10;

  @include media($tablet) {
    width: 16rem;
  }


  &--footer {
    @extend %u-align--center;
    padding: $base-spacing-unit 0 $base-spacing-unit--large;

    .st2 {
      fill: $footer-logo-color;
      stroke: $default-color;
    }
  }
}

.site-title {
  line-height: 1;
  margin-left: $base-spacing-unit;
  margin-bottom: 0;
  padding: 1.625rem 0;
  float: left;
  // &, &:visited {
  //   color: $grey-color-dark;
  // }
}
