.p-media {
  & {}
  &#{&}--post {
    margin-left: 10px;
    @extend %u-heading;
  }
  &__image {
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    border-radius: 50%;
    @extend %photo-shadow;

    @at-root .p-media--post & {
      width: 80px;
    }
    @at-root .p-media--page & {
      display: block;
      width: 40%;
      margin: 0 auto;
      @media #{$tablet} {
        display: inline-block;
        width: 30%;
      }
    }
  }
  &__author {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    @include font-size(18, 1.2);
    font-weight: 500;
    span {
      display: block;
      font-weight: 600;
      font-family: $base-font-family;
      color: $sub-text-color;
    }
    @at-root .p-media--page & {
      display: block;
      width: 100%;
      margin: 0 auto;
      @media #{$tablet} {
        display: inline-block;
        width: 65%;
        padding-left: 1rem;
      }
    }
    h1 {
      @include font-size(24, 1);
      @media #{$tablet} {
        @include font-size(40, 1);
      }
    }
  }
  & #{&}__name {
    // @include web-font($t-kit, normal, 500);
    color: $footer-logo-color;
    display: inline-block;
  }

}
