// Global navigation
.global-nav {
  & {
    z-index: 100;
    width: 100%;
    background-color: scale-color(rgba($base-text-color, .9), $lightness: 0%);
    border-bottom: 3px solid;

    @include media($tablet) {
      position: relative !important;
      float: right;
      width: auto;
      max-height: 0;
      background-color: transparent;
      border-bottom: none;
    }
  }
  @at-root .js & {
    position: absolute;
    display: block;
    overflow: hidden;
    zoom: 1;
    max-height: 0;

    @include media($tablet) {
      overflow: visible;
      max-height: none;
      transition: none !important;
    }
    &.opened {
      // max-height: 999em;
    }
    &.closed {
      // max-height: none;
    }
  }
  &__list {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 1rem 0;
    @extend %u-align--center;

    @include media($tablet) {
      width: auto;
      margin: 0;
      padding: 0;
    }
  }
  .list__item {
    display: block;
    width: 100%;
    @include font-size(20, 1.5);
    @extend %u-navs;
    @extend %u-navs--labels;
    margin: 0;
    // @extend %u-divider--bottom;
    &:nth-last-of-type(1) {
      border: none;
    }
    @include media($tablet) {
      display: inline-block;
      width: auto;
    }
    &.is-current {
      >a {
        color: $accent-color;
      }
    }
  }
  .nav__link {
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    @include media($tablet) {
      padding: 1.5rem 1rem;
    }
  }
  a {
    color: scale-color($primary-color, $lightness: 40%);
    font-weight: 500;
    &:hover {
      text-decoration: underline;
      color: $accent-color;
    }
    @include media($tablet) {
      color: scale-color($base-text-color, $lightness: 0%);
    }
  }
  .list__item {
    color: tomato;
  }
}

.menu-icon {
  position: relative;
  z-index: 101;
  float: right;
  margin-right: .5rem;
  padding: .5rem;

  // When a target is touched and held on iPhone OS, Safari displays a callout information about the link. This property allows disabling that behavior.
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  @include font-size(40, 1.5);
  > svg {
    width: 28px;
    height: auto;
    path {
      fill: scale-color($primary-color, $lightness: 40%);
    }
  }
  @include media($tablet) {
    display: none;
  }
}
