.global-nav {
  & {
    z-index: 100;
    width: 100%;
    background-color: rgba($base-font-color, .85);
    @media #{$topbar-media-query} {
      position: relative !important;
      float: right;
      width: auto;
      max-height: 0;
      background-color: transparent;
    }
  }
  @at-root .js & {
    position: absolute;
    display: block;
    overflow: hidden;
    zoom: 1;
    max-height: 0;
    @media #{$topbar-media-query} {
      overflow: visible;
      max-height: none;
      transition: none !important;
    }
    &.opened {
      // max-height: 999em;
    }
    &.closed {
      // max-height: none;
    }
  }
  ul {
      margin: 0 auto;
      width: 90%;
      padding: 1rem 0 2rem;
      display: block;
      @media #{$topbar-media-query} {
        width: auto;
        margin: 0;
        padding: 0;
      }
  }
  .list__item {
    display: block;
    width: 100%;
    @include font-size(18, auto);
    @media #{$topbar-media-query} {
      display: inline-block;
      width: auto;
    }
  }
  .list__link {
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    @media #{$topbar-media-query} {
        padding: 1rem;
    }
  }
  a {
      color: $primary-color;
      @media #{$topbar-media-query} {
          color: $base-font-color;
      }
  }
}

.menu-icon {
  line-height: 0;
  position: relative;
  z-index: 101;
  float: right;
  // box-sizing: content-box;
  margin-right: .5rem;
  margin-top: .625rem;
  padding: .5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  > svg {
    width: 30px;
    height: 25px;
    path {
      fill: scale-color($primary-color, $lightness: 40%);
    }
  }
  @media #{$topbar-media-query} {
    display: none;
  }
}
