// Global navigation
.global-nav {
  & {
    // max-height: o;
    z-index: 8;
    width: 100%;
    background-color: scale-color(rgba($base-text-color, .9), $lightness: 0%);
    border-bottom: 3px solid;
    margin-left: -($base-spacing-unit);
    margin-right: -($base-spacing-unit);

    @include media($tablet) {
      position: relative !important;
      float: right;
      width: auto;
      max-height: 0;
      background-color: transparent;
      border-bottom: none;
    }
  }
  @at-root .js & {
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
    zoom: 1;

    @include media($tablet) {
      overflow: visible;
      max-height: none;
      transition: none !important;
    }
    &.opened {
      // max-height: 999em;
    }
    &.closed {
      // max-height: none;
    }
  }
  &__list {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 1rem 0;
    @extend %u-align--center;

    @include media($tablet) {
      width: auto;
      margin: 0;
      padding: 0;
    }
  }
  .list__item {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    @include font-size(20, 1.5);
    @extend %u-navs;
    @extend %u-navs--labels;

    &:nth-last-of-type(1) {
      border: none;
    }
    @include media($tablet) {
      display: inline-block;
      width: auto;
    }
    &.is-current {
      >a {
        color: $accent-color;
        text-decoration: none;
        &:before {
          content: "";
          position: absolute;
          border-bottom: 5px solid $accent-color;
          height: 5px;
          width: 100%;
          left: 0;
          bottom: 0;
          transform: scaleX(.7);
        }
      }
    }
  }
  .nav__link {
    display: block;
    padding: $base-spacing-unit 0;
    @include media($tablet) {
      padding: 1.53125rem 1rem;

      &:before,
      &:before {
        content: "";
        position: absolute;
        border-bottom: 5px solid $accent-color;
        height: 5px;
        width: 100%;
        left: 0;
        bottom: 0;
        transition: all 300ms cubic-bezier(0.325,-0.075,0,1.65);
        transform: scaleX(0);
      }
      &:hover:before {
        transform: scaleX(.7);
      }
    }
  }
  a {
    color: scale-color($primary-color, $lightness: 40%);
    font-weight: 500;
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      color: $accent-color;
    }
    @include media($tablet) {
      color: scale-color($base-text-color, $lightness: 0%);
    }
  }
  .list__item {
    color: tomato;
  }
  &__mask {
    min-height: 9999px;
    background-color: rgba(0,0,0,.7);
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    transition: opacity 284ms;

    @at-root .js-nav-active & {
      visibility: visible;
      opacity: 1;
    }
  }
}

.menu-icon {
  position: relative;
  z-index: 11;
  float: right;
  margin-top: 1.25rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: .5rem;

  // When a target is touched and held on iPhone OS, Safari displays a callout information about the link. This property allows disabling that behavior.
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @include font-size(16, 1);
  > svg {
    width: 28px;
    height: auto;
    path {
      fill: scale-color($primary-color, $lightness: 40%);
    }
  }
  @include media($tablet) {
    display: none;
  }
}
