// Paging-navigation
.pagination {
  margin: 0;
  padding: $base-spacing-unit--large 0;

  &#{&}--centered {
    text-align: center;
  }
  &__list {
    overflow: hidden;
    text-align: left;
    display: inline-block;
  }
  .list__item {
    @include font-size(14, 1);
    font-weight: 600;
    padding: $base-spacing-unit--tiny;

    &.is-current em {
      display: inline-block;
      padding: $base-spacing-unit;
      color: scale-color($primary-color, $lightness: 50%);
      background-color: scale-color($sub-text-color, $lightness: -10%);
      border: 2px solid scale-color($sub-text-color, $lightness: -10%);
      @include border-radius(3px);
    }
  }
  .list__link {
    padding: $base-spacing-unit;
    @extend %u-btn;
    @extend %u-btn--ghost;
  }
}
