input[type='submit'] {
  padding: .65em 1.5em;
  @extend %u-btn;
  @extend %u-btn--primary;
  @include font-size(14, 1.5);
  ;
}

input[type='search'] {
  border:2px solid scale-color($primary-color, $lightness: 70%);
  background: transparent;
  @include border-radius(3px);
}

.search {
  &-form {
    position: relative;
    // font-size: 0;
    &-submit {
      padding: .5rem;
      @extend %u-btn;
      @extend %u-btn--primary;
    }
    .search-form-field {
      display: inline-block;
      width: 80%;
      margin: 0;
      // @include font-size(14);
    }
    .search-form-submit {
      display: inline-block;
      width: 15%;
      margin: 0;
      // @include font-size(14);
    }
  }
}


/****************************************
8.  Form
*****************************************/

.required {
  color: $accent-color;
  @include font-size(16);
}

.wpcf7-form {
  // padding: 10px;
  .wpcf7-not-valid {
    outline: tomato 5px auto;
  }
  .form-field {
    border: 1px solid scale-color(rgba($primary-color, 1), $lightness: 50%);
    background: scale-color(rgba($primary-color, .5), $lightness: -25%);
    &:focus {
      border: 1px solid scale-color(rgba($primary-color, .5), $lightness: -25%);
      background: scale-color(rgba($primary-color, 1), $lightness: 80%);
    }
  }
  &-submit {
    @extend %u-btn;
    @extend %u-btn--primary;
  }
  &-icon {
    margin-right: 3px;
    margin-left: 2px;
  }
}
