//social


// Social icons menu setting

.social-menu {
  & {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  &__list {
    margin: 0;
    text-align: center;
  }
  .menu__item {
    padding: $base-spacing-unit--tiny;
    &:last-child {
      padding-right: 0;
    }
    & [class^='icon-'] {
      display: inline-block;
      width: 3.75rem;
      height: 3.75rem;
      text-align: center;
      color: $footer-logo-color;
      border: 3px solid $footer-logo-color;
      border-radius: 50%;
      &:before {
        @include font-size(34, 1.6);
        @extend %fontawesome;
      }
    }
    span {
      display: block;
      overflow: hidden;
      width: 0;
      height: 0;
    }
  }
  & &--labels {
    display: block;
    @include font-size(21, 1.5);
    @extend %u-heading;
    @extend %u-heading--labels;
  }
}

.bookmarks {
  &__list {
    display: table;
    position: relative;
    width: 100%;
  }
  .list__item {
    display: inline-block;
    padding-right: $base-spacing-unit--small;
    &:nth-last-of-type(1){
      padding-right: 0;
    }

    & [class*='icon-'] {
      display: inline-block;
      width: 3rem;
      padding: .3em .5em;
      text-align: center;
      color: $sub-text-color;
      border: 3px solid $sub-text-color;
      &:before {
        @include font-size(21, false);
        @extend %fontawesome;
      }
    }
    span {
      display: block;
      overflow: hidden;
      width: 0;
      height: 0;
    }
  }

  & &--labels {
    position: relative;
    top: 1px;
    @include font-size(21, 1.5);
    @extend %u-heading;
    @extend %u-heading--labels;
  }
}

// maps
$icons: (
  twitter: (char: '\f099', color: $twitter-color),
  github: (char: '\f113', color: $github-color),
  instagram: (char: '\f16d', color: $instagram-color),
  pinterest: (char: '\f0d2', color: $pinterest-color),
  facebook: (char: '\f09a', color: $facebook-color),
  google-plus: (char: '\f0d5', color: $google-plus-color),
  send-mail: (char: '\f0e0', color: $send-mail-color),
  rss: (char: '\f09e', color: $rss-color)
);
@each $social,
$icon in $icons {
  .bookmarks [class*=icon-#{$social}] {
    &:before {
      content: map-get($icon, char);
    }
    &:hover, &:active, &:focus {
      color: scale-color($primary-color, $lightness: 50%);
      background: map-get($icon, color);
      border-color: map-get($icon, color);
      text-decoration: none;
    }
  }
  .social-menu [class*=icon-#{$social}] {
    // background-color: map-get($icon, color);
    &:before {
      content: map-get($icon, char);
    }
    &:hover, &:active, &:focus {
      color: map-get($icon, color);
      background: $footer-logo-color;
      border-color: $footer-logo-color;
      text-decoration: none;
    }
  }
}
