//social
$twitter-color: rgb(101, 187, 242) !default;
$github-color: rgb(254, 254, 242) !default;
$instagram-color: rgb(80, 130, 166) !default;
$pinterest-color: rgb(219, 51, 25) !default;
$facebook-color: rgb(75, 110, 169) !default;
$google-plus-color: rgb(230, 98, 73) !default;

// Social icons menu setting
.social-section {
  padding: 3.125em 0 0;
  text-align: center;
  &__title {
    margin-bottom: 1rem;
    padding-top: 1.875rem;
    color: scale-color($base-font-color, $lightness: 30%);
    border-top: $u-divider--top;
    @include font-size(21);
    @include web-font($t-kit, normal, 100);
  }
}

.social-menu {
  & {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  &__list {
    font-size: 0;
    text-align: center;
  }
  .list__item {
    display: inline-block;
    padding: 3px;
    @include font-size(16, 1);
    &:last-child {
      padding-right: 0;
    }
    & [class^='icon-'] {
      display: inline-block;
      width: 3em;
      height: 3em;
      text-align: center;
      color: scale-color($base-font-color, $lightness: 20%);
      border: 3px solid scale-color($base-font-color, $lightness: 20%);
      border-radius: 50%;
      &:before {
        @include font-size(28, 1.5);
        @extend %fontawesome;
      }
    }
    span {
      display: block;
      overflow: hidden;
      width: 0;
      height: 0;
    }
  }
  & &--labels {
    display: block;
    @include font-size(21, 1.5);
    @extend %u-heading;
    @extend %u-heading--labels;
  }
}

.bookmarks {
  &__list {
    display: table;
    position: relative;
    width: 100%;
  }
  .list__item {
    display: inline-block;
    padding-right: 5px;
    &:nth-last-of-type(1){
      padding-right: 0;
    }

    & [class*='icon-'] {
      display: inline-block;
      width: 3rem;
      padding: .3em .5em;
      text-align: center;
      color: scale-color($base-font-color, $lightness: 20%);
      border: 3px solid scale-color($base-font-color, $lightness: 20%);
      &:before {
        @include font-size(21, false);
        @extend %fontawesome;
      }
    }
    span {
      display: block;
      overflow: hidden;
      width: 0;
      height: 0;
    }
  }

  & &--labels {
    position: relative;
    top: 1px;
    @include font-size(21, 1.5);
    @extend %u-heading;
    @extend %u-heading--labels;
  }
}

// maps
$icons: (
  twitter: (char: '\f099', color: $twitter-color),
  github: (char: '\f113', color: $github-color),
  instagram: (char: '\f16d', color: $instagram-color),
  pinterest: (char: '\f0d2', color: $pinterest-color),
  facebook: (char: '\f09a', color: $facebook-color),
  google-plus: (char: '\f0d5', color: $google-plus-color),
);
@each $social,
$icon in $icons {
  .bookmarks [class*=icon-#{$social}] {
    &:before {
      content: map-get($icon, char);
    }
    &:hover {
      color: scale-color($primary-color, $lightness: 50%);
      background: map-get($icon, color);
      border-color: map-get($icon, color);
    }
  }
  .social-menu [class*=icon-#{$social}] {
    // background-color: map-get($icon, color);
    &:before {
      content: map-get($icon, char);
    }
    &:hover {
      color: map-get($icon, color);
      background: scale-color($base-font-color, $lightness: 20%);
      border-color: scale-color($base-font-color, $lightness: 20%);
      text-decoration: none;
    }
  }
}
