table {
  width: 100%;
  border-collapse: collapse;
  border-space: 0;
  margin-bottom: 1rem;
}
thead tr {
  color: $primary-color;
  background-color: scale-color($base-font-color, $lightness: 30%);
}
th,
td {
  padding: .5rem;
  text-align: left;
  border: 1px solid scale-color($base-font-color, $lightness: 10%);
  @media #{$small-only} {
    padding: .25rem;
    text-align: center;
  }
}

/**
 * Cell alignments
 *
 */
[colspan] {
  text-align: center;
}

[colspan="1"] {
  text-align: left;
}

[rowspan] {
  vertical-align: middle;
}

[rowspan="1"] {
  vertical-align: top;
}

.numerical {
  text-align: right;
}

.table--borderd {
  th,
  td {
    border: 1px solid $base-font-color;
    &:empty {
      border: none;
    }
  }

  thead {
    tr:last-child th {
      border-bottom-width: 2px;
    }
    tbody tr th:last-of-type {
      border-right-width: 2px;
    }
  }
}

.table--striped {
  tbody tr:nth-of-type(odd) {
    background-color: scale-color($base-font-color, $lightness: 70%);
  }
}
