<div class="bookmarks bookmarks__list">
{% capture share_url %}{{ page.url | prepend: site.url | append: '/' | encode_url }}{% endcapture %}
  <div class="bookmarks--labels list__item">Share</div>
  <div class="list__item">
    <a href="https://twitter.com/intent/tweet/?url={{ share_url }}&text={{ page.title | encode_url }}&via={{ site.twitter_username }}" class="list__link icon-twitter js-social-share" title="Share on twitter"><span>Share on Twitter</span></a>
  </div>
  <div class="list__item">
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ share_url }}" data-share-url="{{ page.url | prepend: site.url | append: '/' }}" class="list__link icon-facebook js-social-share"><span>Share on Facebook</span></a>
  </div>
  <div class="list__item">
    <a href="https://plus.google.com/share?url={{ share_url }}" class="list__link icon-google-plus js-social-share"><span>Share on Google+</span></a>
  </div>
</div>
