<div class="c-bookmarks c-bookmarks__list">
  <div class="list__item list__label">Share</div>
  <div class="list__item">
    <a href="https://twitter.com/intent/tweet/?url={{ shere_url }}&text={{ page.title | encode_url }}&via=kenty236" class="list__link icon-twitter js-social-share"><span>Share on Twitter</span></a>
  </div>
  <div class="list__item">
    <a href="https://www.facebook.com/sharer/sharer.php?u=" class="list__link icon-facebook js-social-share"><span>Share on Facebook</span></a>
  </div>
  <div class="list__item">
    <a href="https://plus.google.com/share?url=" class="list__link icon-google-plus js-social-share"><span>Share on Google+</span></a>
  </div>
</div>
