<section class="p-info p-info__wrap">
  <div class="p-info__heading-wrap page-heading-wrap">
    <h2 class="p-info__heading-title page-heading page-heading--headline c-section__title">Access Map</h2>
  </div>

  <div class="p-info__map map">
    <div id="map-canvas" class="map__body"></div>
  </div>
  <div class="p-info__body" itemscope itemtype="http://schema.org/HairSalon">
    <h1 class="p-info__title" itemprop="name">Seventh Heaven<span>セブンス ヘブン</span></h1>
    <p class="p-info__desc" itemprop="description"></p>
    <div class="p-info__address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      <h4 class="p-info__heading">住 所</h4>
      <span itemprop="addressRegion">千葉県</span>
      <span itemprop="addressLocality">船橋市</span>
      <span itemprop="streetAddress">丸山5-1-8 第8松宮ビル1F</span>
      <h4 class="p-info__heading">電話番号</h4>
      <span itemprop="telehpone">047-430-8090</span>
    </div>
    <div class="p-info__open-time">
      <h4 class="p-info__heading">営業時間</h4>
      <span>平日: <time itemprop="openingHours" datetime="Mo,We,Th,Fr,Sa 10:00-19:30">10am-7:30pm</time></span>
      <span>日・祝日: <time itemprop="openingHours" datetime="Su 9:00-19:30">9am-7:30pm</time></span>
      <span>定休日: <time datetime="Tu">火曜日</time></span>
    </div>
  </div>

</section>
