<header id="header" class="page-header" role="banner">

  <div class="page-header__inner">

    <nav id="navigation" class="global-nav c-box" itemscope itemtype="http://schema.org/SiteNavigationElement"  role="navigation">

        <ul class="global-nav__list c-box__list">
          {% for link in site.data.navi %}
          {% assign current = nil %}
          {% if page.url contains link.url %}
              {% assign current = "is-current" %}
          {% endif %}
            <li class="nav__item list__item {{ current }}"><a class="nav__link" href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
    </nav>

    <h1 class="site-title"><a href="{{ site.baseurl }}/" tabindex="1" accesskey="1"><img class="site-logo" src="{{ "/assets/img/dm-logo-title.svg" | prepend: site.baseurl | prepend: site.cdn_url }}" alt="{{ site.title }}" /></a></h1>

    {% include svg/menu-icon.html %}
  </div>

</header>
