.page {
  &-wrapp {
    position: relative;
    overflow: hidden;
    background: url(/assets/img/dominomatrix-bg.jpg) repeat;
  }
  &-header {
    // Positioning context for the mobile navigation icon
    position: relative;
    min-height: 80px;
    border-bottom: 2px solid scale-color(rgba($primary-color, .65), $lightness: 50%);
    background-color: scale-color(rgba($base-font-color, .25), $lightness: 5%);
    &__inner {
      @include grid-row();
    }
  }
  &-container {
    margin: 50px auto;
  }
  &-main {
    overflow: hidden;
    max-width: 900px;
    @media #{$topbar-media-query} {
      margin: 0 auto;
    }
  }
  &-sidebar {
    margin-top: $base-spacing-unit--large;
    @media #{$large-up} {
      margin-top: 0;
      padding-right: 0;
      padding-left: $base-spacing-unit--large;
    }
  }
  &-footer {
    color: scale-color($primary-color, $lightness: -20%);
    border-top: 2px solid scale-color(rgba($primary-color, .65), $lightness: 50%);
    background: url(/assets/img/dm-footer_bg.png) repeat bottom center;
    &__copy {
      margin-bottom: 0;
      padding-top: $base-spacing-unit--large;
      text-align: center;
      @include web-font($t-kit, normal, 300);
      @include font-size(16, false);
      a {
        color: $primary-color;
        @include transition(all .35s ease-out);
        &:hover {
          color: $accent-color;
        }
      }
    }
  }
  &-separator {
    margin: $base-spacing-unit--large;
    @extend %u-divider--bottom-rev;
    @extend %u-divider--top-rev;
  }
}

.page-content {
  @include grid-row();
}

.page-heading {
  @extend %u-heading;
  &-wrap {
    margin-bottom: $base-spacing-unit--huge;
    text-align: center;
    @extend %u-divider--bottom;

    & .page-heading {
      position: relative;
      top: 0.8rem;
      display: inline-block;
      padding: 0 $base-spacing-unit--small;
      background-color: #c2bba9;
    }
  }
  &.page-heading--title {
    @include font-size(20, 1);
    @extend %u-heading--title;

    @media #{$topbar-media-query} {
      @include font-size(24, 1);
    }
  }
  &.page-heading--label {
    @include font-size(18, 1);
    text-align: left;
    @extend %u-heading--label;

    @media #{$topbar-media-query} {
      @include font-size(21, 1);
    }
  }
  &.page-haeding--errors {
    @include font-size(240, 1);
    letter-spacing: 1rem;

    span {
      display: block;
      @include font-size(70, 1);
      letter-spacing: .3rem;
    }
  }
}

.page-post {
  p {
    @include font-size(20, 1.5);
  }
}

.page-thumbs {
  padding: $base-spacing-unit;
  img {
    width: 60%;
    height: auto;
    margin: 0 auto;
    border-radius: 50%;
    @extend %photo-shadow;
    @media #{$topbar-media-query} {
      width: 80%;
    }
  }
  @at-root .post & {
    padding: 0;
    img {
      width: 80px;
      margin: 5px;
    }
  }
  figcaption {
    padding-top: $base-spacing-unit--small;
    text-align: center;
  }
}
