.sidebar-categories {
  &__title {
    @extend %widgets-title;
  }
  &__title-icon {
    @extend %icon-modifier;
  }
}

.categories {
  &__section {
    background-color: white;
  }
  &__pattern {
    display: inline-block;
    min-width: 100px;
    margin: 0 10px;
    padding: 1em;
    background-color: $primary-color;
    &-title {
      @include font-size(18, auto);
      border-bottom: 3px solid scale-color($primary-color, $lightness: -60%);
    }
  }
  &__list {
    .is-selected a {
      color: scale-color(rgba($link-color, .8), $lightness: -40%);
    }
  }
}

.recent-posts {
  &__item {
    text-decoration: underline;
    img {
      @extend %photo-shadow;
      margin: 0 0 5px;
    }
  }
  &__title {
    @extend %widgets-title;
  }
  &__title-icon {
    @extend %icon-modifier;
  }
}

.widget-title {
  @extend %widgets-title;
  margin-bottom: 1rem;
}

