.u-btn,
%u-btn {
  display: inline-block;
  cursor: pointer;
  @include transition(all .35s ease-out);
  @include border-radius(3px);
}

.u-btn--primary,
%u-btn--primary {
  color: scale-color($primary-color, $lightness: 0%);
  // @include button-gradient($link-color);
  background-color: scale-color($link-color, $lightness: 0%);
  border: 2px solid scale-color(rgba($link-color, .85), $lightness: 10%);

  &:focus,
  &:hover {
    color: scale-color($primary-color, $lightness: 20%);
    background-color: scale-color($link-color, $lightness: 10%);
    background-image: none;
    text-decoration: none;
  }
  &:active {
    color: scale-color($primary-color, $lightness: 20%);
    background-color: scale-color($link-color, $lightness: -15%);
    background-image: none;
    border: 2px solid scale-color(rgba($link-color, .85), $lightness: -5%);

  }
}

.u-btn--ghost,
%u-btn--ghost {
  color: scale-color($base-font-color, $lightness: 20%);
  border: 2px solid scale-color($base-font-color, $lightness: 20%);
  background: transparent;
  &:hover, &:active, &:focus {
    color: $primary-color;
    background: scale-color($base-font-color, $lightness: 20%);
    text-decoration: none;
  }
}
