.u-heading,
%u-heading {
  text-transform: uppercase;
  color: scale-color($base-font-color, $lightness: 28%);
  @include web-font($t-kit, normal, 400);
  @include font-smooting(on);
  &--title {
    font-weight: 900;
    font-style: italic;
    letter-spacing: .2rem;
  }
  &--label {
    font-weight: 700;
    letter-spacing: .1rem;
  }
  &--labels {
    font-weight: 600;
    letter-spacing: .1rem;
    text-transform: uppercase;
  }
}
