.u-heading {
  & {

  }
  &--label {
    color: scale-color($base-font-color, $lightness: 35%);
    text-align: left;
    font-weight: 500;
  }
  &-- {
    @include text-shadow(0 1px 1px rgba(62, 52, 26, .2), 0px 0px 2px rgba(20, 20, 20, .3));

  }
}
