.u-btn,
%u-btn {
  @include transition(all, 300ms, ease-out);

  display: block;
  padding: $base-spacing-unit--small;
  border-radius: 3px;
  cursor: pointer;
  @include breakpoint(tablet) {
    display: inline-block;
  }

  &:active,
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.u-btn--default,
%u-btn--default {
  color: scale-color($primary-color, $lightness: 0%);
  background-color: $sub-text-color;
  border: 2px solid scale-color(rgba($sub-text-color, .85), $lightness: 5%);

  &:focus,
  &:hover {
    color: scale-color($primary-color, $lightness: 20%);
    background-color: scale-color($sub-text-color, $lightness: 20%);
    border: 2px solid scale-color(rgba($sub-text-color, .85), $lightness: 20%);
  }

  &:active {
    color: scale-color($primary-color, $lightness: 50%);
    background-color: scale-color($sub-text-color, $lightness: -5%);
  }
}

.u-btn--primary,
%u-btn--primary {
  color: scale-color($primary-color, $lightness: 0%);
  background-color: scale-color($link-color, $lightness: 0%);
  border: 2px solid scale-color(rgba($link-color, .85), $lightness: 10%);

  &:focus,
  &:hover {
    color: scale-color($primary-color, $lightness: 20%);
    background-color: scale-color($link-color, $lightness: 10%);
    border: 2px solid scale-color(rgba($link-color, .85), $lightness: 20%);
  }

  &:active {
    color: scale-color($primary-color, $lightness: 50%);
    background-color: scale-color($link-color, $lightness: -10%);
  }
}

.u-btn--ghost,
%u-btn--ghost {
  color: $base-color;
  background: transparent;
  border: 2px solid $base-color;

  &:hover,
  &:focus {
    color: $primary-color-lighten30;
    background: $base-color;
  }

  &:active {
    color: $primary-color-lighten30;
    background-color: $base-color-darken10;
  }
}

.c-btn {
  --btn-color: $primary-color-lighten10;

  --btn-background-color: $base-color;

  @include transition(all 300ms ease-out);
  @include border-radius($base-round);

  display: inline-block;
  color: var(--btn-color);
  background-color: var(--btn-background-color);
  border: 2px solid var(--btn-background-color);
  padding: $base-spacing-unit--tiny;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  > a {
    color: $primary-color-lighten20;
    text-decoration: none;
  }

  &:active,
  &:hover,
  &:focus {
    color: $primary-color-lighten20;
    text-decoration: none;
  }

  &:hover {
    background-color: $base-color-darken20;
    border-color: $base-color-darken20;
  }

  &:focus,
  &:active {
    background-color: $base-color-darken30;
    border-color: $base-color-darken30;
  }
}

.c-btn--primary {
  background-color: $link-color-darken10;
  border: 1px solid $link-color-darken10;

  &:hover {
    color: $primary-color-lighten20;
    background-color: $link-color-lighten10;
    border-color: $link-color-lighten10;
  }

  &:focus,
  &:active {
    color: $primary-color-lighten30;
    background-color: $link-color-darken10;
  }
}

.c-btn--ghost {
  color: $base-color;
  background: transparent;
  border: 2px solid $base-color;

  &:hover {
    color: $primary-color-lighten10;
    background: $base-color;
    border-color: $base-color;
  }

  &:focus,
  &:active {
    color: $primary-color-lighten10;
    background: $base-color-darken10;
  }
}

.c-btn--flat {
  --btn-color--flat: $link-color;

  color: var(--btn-color--flat);
  background-color: transparent;
  border: none;
  padding: calc(#{$base-spacing-unit--tiny} / 2);

  &:hover,
  &:focus,
  &:active {
    color: var(--btn-color--flat);
    background-color: transparent;
    text-decoration: underline;
  }
}
